<div style="border-radius: 0.25rem;border-width:0.1rem;border-color:black;border-style:solid;">
  <p>Requesting user: <%= role_request.requester_user.username %></p>
  <p>Requested role: <%= role_request.requested_template_id %></p>
</div>
